<form [formGroup]="form" class="mass-update-form">
  <div mat-dialog-title class="mass-update-header">
    <h2 i18n="@@scheduleMassUpdateDialogTitle">Update schedules</h2>
    <p i18n="@@massUpdateDialogDescription">
      Only changed settings will be applied. Values left untouched will be preserved.
    </p>
  </div>

  <mat-dialog-content class="mass-update-content">
    <div class="mass-update-grid">
      <div class="mass-update-section">
        <app-label-multi [configObject]="configObject"
          [allSelected]="allSelected"
          (update)="onUpdateLabels($event)">
        </app-label-multi>
      </div>

      <div class="mass-update-section">
        <div role="button"
          tabindex="0"
          (click)="enableValidityRange()"
          (keydown.enter)="enableValidityRange()"
          (keydown.space)="enableValidityRange()"
          [matTooltip]="validityRangeDisabled
            ? validityRangeDisabledTooltip
            : null">
          <mat-form-field>
            <mat-label i18n="@@scheduleMassUpdateValidityRangeLabel">Validity period</mat-label>
            <mat-date-range-input [rangePicker]="validityRangePicker">
              <input matStartDate formControlName="validFrom"
                placeholder="Valid from"
                i18n-placeholder="@@scheduleMassUpdateValidFromPlaceholder"
                (dateChange)="onValidityRangeChanged()">
              <input matEndDate formControlName="validTo"
                placeholder="Valid to"
                i18n-placeholder="@@scheduleMassUpdateValidToPlaceholder"
                (dateChange)="onValidityRangeChanged()">
            </mat-date-range-input>
            <button mat-icon-button matIconSuffix type="button"
              aria-label="Clear validity period"
              i18n-aria-label="@@scheduleMassUpdateClearValidityRangeLabel"
              matTooltip="Clear validity period for all selected schedules"
              i18n-matTooltip="@@scheduleMassUpdateClearValidityRangeTooltip"
              (click)="onRemoveValidFromTo()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matIconSuffix [for]="validityRangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #validityRangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel type="button"><ng-container i18n="@@commonButtonCancel">CANCEL</ng-container></button>
                <button mat-flat-button matDateRangePickerApply type="button"
                  i18n="@@commonButtonApply">APPLY</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
            <mat-hint i18n="@@scheduleMassUpdateValidityRangeHint">Both dates are inclusive; either date may be empty.</mat-hint>
            @if (validFrom.hasError('matStartDateInvalid') || validTo.hasError('matEndDateInvalid')) {
              <mat-error i18n="@@scheduleMassUpdateValidityRangeError">Valid from must be on or before Valid to.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</form>

@if (canEdit) {
  <mat-dialog-actions align="end">
    <button mat-button type="button"
      (click)="onRevert()"
      [disabled]="!canRevert"><ng-container i18n="@@commonButtonRevert">REVERT</ng-container></button>
    <button mat-button type="button"
      mat-dialog-close><ng-container i18n="@@commonButtonCancel">CANCEL</ng-container></button>
    <button mat-flat-button type="button"
      [disabled]="!canUpdate"
      [mat-dialog-close]="onDialogClose()"><ng-container i18n="@@commonButtonUpdate">UPDATE</ng-container></button>
  </mat-dialog-actions>
}
