apiVersion: apps/v1
kind: Deployment
metadata:
  name: robots
spec:
  template:
    spec:
      containers:
        - name: robots
          env:
            - name: LOG_LEVEL
              value: "debug"
