:host {
  display: contents;
}

.log-context-metadata {
  grid-row-start: 1;
  grid-column-start: 1;
  min-width: 0;
}

app-detail-overflow {
  grid-row-start: 1;
  grid-column-start: 2;
  align-self: start;
}
