<mat-nav-list>
  <a mat-list-item [routerLink]="['/config', 'entity', id]">
    <mat-icon mat-list-icon>business</mat-icon>
    {{name}}
    @if (labels.length > 0) {
      <mat-chip-listbox
        [disabled]="true" fxLayout="row wrap" fxLayoutGap="8px">
        @for (label of labels; track label) {
          <mat-chip-option
            [selectable]="false"
            [disabled]="true"
            [removable]="false">
            {{label.key + ':' + label.value}}
          </mat-chip-option>
        }
      </mat-chip-listbox>
    }
  </a>
</mat-nav-list>

