<form [formGroup]="form">
    <div class="layout-column">
      <div class="layout-row layout-wrap gap-24">
        <div class="layout-column flex-fill">
          <app-seed-meta [kind]="configObject.kind" formControlName="meta"
            [entityRef]="entityRef.value"
            [showOpenUrl]="!showSave"
            [annotationSuggestions]="annotationSuggestions"
          (move)="move.emit($event)"></app-seed-meta>
          @if (configObject.id) {
            <mat-form-field>
              <mat-label i18n="@@metaIdInputLabel">
              Id
            </mat-label>
              <input matInput
                formControlName="id"
                readonly>
              <button mat-icon-button matSuffix type="button" [appCopyId]="configObject.id"
                matTooltip="Copy ID" i18n-matTooltip="@@copyIdTooltip"
                aria-label="Copy ID" i18n-aria-label="@@copyIdTooltip">
                <mat-icon>content_copy</mat-icon>
              </button>
            </mat-form-field>
          }

        </div>

        <div class="layout-column flex-fill">
          <mat-form-field formGroupName="entityRef">
            <mat-label i18n="@@metaEntityIdInputLabel">
              Entity Id
            </mat-label>
            <input matInput formControlName="id"
              readonly>
            @if (configObject.id && canEdit) {
              <button mat-icon-button matSuffix type="button"
                [disabled]="form.dirty"
                [matTooltip]="moveSeedTooltip"
                (click)="onMoveSeed()">
                <mat-icon>swap_horiz</mat-icon>
              </button>
            }
            <mat-error>
              Reference to entity is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label i18n="@@crawlJobDropdownLabel">
              Crawljob
            </mat-label>
            <mat-select multiple formControlName="jobRefListId">
              @for (crawlJob of crawlJobs; track crawlJob) {
                <mat-option
                [value]="crawlJob.id">{{crawlJob.meta.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <app-effective-script-annotations
            [jobIds]="jobRefListId.value || []"
            [crawlJobs]="crawlJobs"
            [seedId]="configObject.id">
          </app-effective-script-annotations>
          <mat-checkbox formControlName="disabled"
            i18n="@@commonDeactivated">Deactivated</mat-checkbox>
        </div>
      </div>
    </div>
    @if (canEdit) {
      <div class="config-form-actions">
        @if (showSave) {
          <button mat-raised-button
            [color]="form.valid ? 'accent' : 'warn'"
            [disabled]="!canSave"
            (click)="onSave()"
            [matTooltip]="!form.valid ? 'Form not valid!.' : ''"
            i18n="@@commonButtonSave">SAVE
      </button>
        }
        @if (!showSave) {
          <button mat-raised-button color="accent"
            [disabled]="!canUpdate"
            (click)="onUpdate()"
            i18n="@@commonButtonSave">UPDATE
      </button>
        }
        <button mat-button
          [disabled]="!canRevert"
          (click)="onRevert()"
          i18n="@@commonButtonRevert">REVERT
      </button>
      </div>
    }
</form>
