---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: harvester
spec:
  template:
    spec:
      containers:
        - name: browser-controller
          env:
            - name: LOG_LEVEL
              value: DEBUG
