@if (chips.length) {
  <mat-chip-set class="filter-chips" aria-label="Active filters" i18n-aria-label="@@activeConfigFiltersLabel">
    @for (chip of chips; track chip.key + ':' + chip.value) {
      <mat-chip>
        @if (chip.labelSelector; as label) {
          @if (label.structured) {
            <app-label-display [key]="label.key" [value]="label.value"></app-label-display>
          } @else {
            {{label.selector}}
          }
        } @else {
          {{chip.label}}
        }
        <button matChipRemove type="button"
          [attr.aria-label]="removeFilterLabel(chip)"
          (click)="removeFilter.emit(chip)">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    }
  </mat-chip-set>
}
