:host {
  display: block;
  height: 100%;
}

.detail-page {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

.detail-content {
  min-width: 0;
  padding: 16px;
}

.detail-content-flush {
  padding: 0;
}

@media (min-width: 840px) {
  .detail-content {
    padding: 32px;
  }

  .detail-content-flush {
    padding: 0;
  }
}
