@if (configObject) {
  <div fxLayout="row wrap" fxLayoutGap="16px" style="width: 100%;" class="preview-padding">
    <div fxFlex class="preview-meta-column">
      @switch (configObject.kind) {
        @case (Kind.SEED) {
          <app-seed-meta-preview [configObject]="configObject"></app-seed-meta-preview>
        }
        @default {
          <app-meta-preview [configObject]="configObject"></app-meta-preview>
        }
      }
    </div>
    <div fxFlex class="preview-details-column">
      @switch (configObject.kind) {
        @case (Kind.SEED) {
          <app-seed-preview [configObject]="configObject" (edit)="onEditConfig($event)"></app-seed-preview>
        }
        @case (Kind.COLLECTION) {
          <app-collection-preview [configObject]="configObject"></app-collection-preview>
        }
        @case (Kind.CRAWLJOB) {
          <app-crawljob-preview [configObject]="configObject"></app-crawljob-preview>
        }
        @case (Kind.CRAWLSCHEDULECONFIG) {
          <app-schedule-preview [configObject]="configObject"></app-schedule-preview>
        }
        @case (Kind.CRAWLCONFIG) {
          <app-crawlconfig-preview [configObject]="configObject"></app-crawlconfig-preview>
        }
        @case (Kind.CRAWLHOSTGROUPCONFIG) {
          <app-crawlhostgroupconfig-preview [configObject]="configObject"></app-crawlhostgroupconfig-preview>
        }
        @case (Kind.BROWSERCONFIG) {
          <app-browserconfig-preview [configObject]="configObject"></app-browserconfig-preview>
        }
        @case (Kind.BROWSERSCRIPT) {
          <app-browserscript-preview fxFlex [configObject]="configObject"></app-browserscript-preview>
        }
        @case (Kind.POLITENESSCONFIG) {
          <app-politenessconfig-preview [configObject]="configObject"></app-politenessconfig-preview>
        }
      }
    </div>
    <div fxFlex>
      <app-shortcut-list [configObject]="configObject"></app-shortcut-list>
    </div>
  </div>
}

