dns_nameservers ${DNS_IP}
negative_dns_ttl 1 second
positive_dns_ttl 7 days

${PARENTS}

http_port 3128

prefer_direct off
nonhierarchical_direct off

# Avoid unecessary peer metadata mechanisms.
digest_generation off

# No local object cache in the balancer tier.
cache deny all
