dns_nameservers ${DNS_IP}

${PARENTS}

http_port 3128

prefer_direct off
nonhierarchical_direct off

# Avoid unecessary peer metadata mechanisms.
digest_generation off

# No local object cache in the balancer tier.
cache deny all
