@use '@angular/material' as mat;
@use './theme' as theme;

@include mat.elevation-classes();
@include theme.veidemann-theme();

html, body, app-root, mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

.mat-mdc-tooltip {
  font-size: 0.8rem !important;
}

.mat-mdc-card {
  padding: 16px;
}

.action-button.mat-mat-fab,
.action-button-secondary.mat-mat-fab {
  position: fixed;
  right: 1rem;
  z-index: 100;
}

.action-button.mat-mat-fab {
  bottom: 1rem;
}

.action-button-secondary.mat-mat-fab {
  bottom: 5.5rem;
}

.content-padding {
  padding: 16px;
}

.container {
  height: 100%;
}

.scroll {
  overflow-y: auto;
  padding: 1rem;
}

.no-scroll {
  overflow: hidden;
}

.monospace {
  font-family: monospace;
}

.tooltip-overflow {
  word-wrap: break-word;
  white-space: unset;
  overflow: hidden;
  overflow-wrap: break-word;
}

.formattedUri {
  text-decoration: none;
  color: #64a5da;
}

.formattedUri:hover {
  text-decoration: underline;
}


