<section class="seed-context" aria-labelledby="entity-seeds-title">
  <h3 id="entity-seeds-title" i18n="@@entityDetailsSeedsTitle">Seeds</h3>
  <app-config-list class="seed-list"
    [dataSource]="seedDataSource"
    detailPath="seed"
    detailLinkTarget="_blank"
    [sortActive]="seedSortActive"
    [sortDirection]="seedSortDirection"
    [showOrderControl]="true"
    [showStateFilter]="true"
    [disabledFilter]="seedStatus"
    [multiSelect]="false"
    [titleOnly]="true"
    [showKindIcon]="false"
    [flush]="true"
    primaryLinkDestination="title"
    (sort)="seedSortChange.emit($event)"
    (disabledFilterChange)="seedStatusChange.emit($event)"
    (rowClick)="openSeed.emit($event)">
    @if (canCreateSeed) {
      <button listHeaderAction matMiniFab type="button" class="create-seed-fab"
        aria-label="Create Seed" i18n-aria-label="@@configDetailCreateSeedAction"
        matTooltip="Create Seed" i18n-matTooltip="@@configDetailCreateSeedAction"
        (click)="createSeed.emit(entity)">
        <mat-icon>add</mat-icon>
      </button>
    }
    @if (canReadCrawlExecutions) {
      <a *appFilter="let seed" mat-menu-item
        [routerLink]="['/report/crawlexecution']"
        [queryParams]="{seed_id: seed.id}">
        <mat-icon>hdr_weak</mat-icon>
        <span i18n="@@configMenuShowCrawlExecutions">Show crawl executions</span>
      </a>
    }
    <ng-container *appFilter="let seed">
      @if (seed.seed.jobRefList.length && canReadSeeds) {
        <a mat-menu-item [routerLink]="['/config/seed']"
          [queryParams]="getJobRefListQueryParams(seed)">
          <mat-icon>{{configKindIcon(Kind.SEED)}}</mat-icon>
          <span i18n="@@configMenuShowSeedsWithSameCrawlJob">Show seeds with the same crawl job</span>
        </a>
      }
    </ng-container>
    @if (canReadSeeds) {
      <a *appFilter="let seed" mat-menu-item [routerLink]="['/config/seed']"
        [queryParams]="{entity_id: seed.seed.entityRef.id}">
        <mat-icon>{{configKindIcon(Kind.SEED)}}</mat-icon>
        <span i18n="@@configMenuShowSeedsWithSameEntity">Show seeds with the same entity</span>
      </a>
    }
    @if (canRunSeed) {
      <button *appAction="let seed" mat-menu-item type="button"
        (click)="runSeed.emit(seed)">
        <mat-icon>play_arrow</mat-icon>
        <span i18n="@@configMenuRunCrawlAction">Run crawl</span>
      </button>
    }
    @if (canEditSeed) {
      <button *appAction="let seed" mat-menu-item type="button"
        (click)="editSeed.emit(seed)">
        <mat-icon>edit</mat-icon>
        <span i18n="@@configMenuEditAction">Edit</span>
      </button>
    }
    @if (canCloneSeed) {
      <button *appAction="let seed" mat-menu-item type="button"
        (click)="cloneSeed.emit(seed)">
        <mat-icon>file_copy</mat-icon>
        <span i18n="@@configMenuCloneAction">Clone</span>
      </button>
    }
    @if (canDeleteSeed) {
      <button *appAction="let seed" mat-menu-item type="button" class="destructive-menu-item"
        (click)="deleteSeed.emit(seed)">
        <mat-icon>delete</mat-icon>
        <span i18n="@@configMenuDeleteAction">Delete</span>
      </button>
    }
  </app-config-list>
</section>
