<header class="section-header">
  <a class="back-button" mat-icon-button [routerLink]="backLink"
     aria-label="Back" i18n-aria-label="@@commonBackButtonLabel">
    <mat-icon>arrow_back</mat-icon>
  </a>

  <div class="compact-title">{{title}}</div>

  <nav class="breadcrumbs" aria-label="Breadcrumb" i18n-aria-label="@@commonBreadcrumbLabel">
    <a [routerLink]="rootLink">{{rootLabel}}</a>
    <mat-icon>chevron_right</mat-icon>
    @if (detail && listLink) {
      <a [routerLink]="listLink">{{title}}</a>
      <mat-icon>chevron_right</mat-icon>
      <span aria-current="page" i18n="@@commonDetailsBreadcrumb">Details</span>
    } @else {
      <span aria-current="page">{{title}}</span>
    }
  </nav>

  <span class="header-spacer"></span>
  <ng-content select="[sectionActions]"></ng-content>
</header>
