<div class="container layout-column">
    @if (loading$ | async) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    @if (currentKind(); as kind) {
        <div class="filter-toolbar" aria-label="Configuration filters"
          i18n-aria-label="@@configurationFiltersLabel">
          <app-config-query class="filter-controls"
            [options]="options$ | async"
            [query]="query()"
            (queryChange)="onQueryChange($event)"></app-config-query>
        </div>
        <app-active-filter-chips
          [query]="query()"
          [options]="options$ | async"
          [entity]="entity()"
          (removeFilter)="onRemoveFilter($event)">
        </app-active-filter-chips>
        @let total = totalLength();
        <div class="result-content flex-fill">
        @switch (kind) {
          @default {
            <div class="layout-column flex-fill">
              <app-config-list
                [dataSource]="dataSource"
                [detailPath]="ConfigPath[kind]"
                [configKind]="kind"
                [length]="total"
                [sortDirection]="sortDirection()"
                [sortActive]="sortActive()"
                [showOrderControl]="true"
                [showStateFilter]="kind === Kind.SEED || kind === Kind.CRAWLJOB"
                [disabledFilter]="query().disabled"
                [multiSelect]="true"
                (disabledFilterChange)="onDisabledFilterChange($event)"
                (selectedChange)="onSelectedChange($event)"
                (selectAll)="onSelectAll()"
                (sort)="onSort($event)"
                (labelClick)="onFilterByLabel($event)"
                (rowClick)="onRowClick($event)" class="flex-fill">
                @if (kind===Kind.SEED && !isAllSelected) {
                  <button mat-icon-button
                    aria-label="Start crawl for selected seeds"
                    (click)="onRunCrawlSelected(selectedConfigs)">
                    <mat-icon matTooltip="Start crawl of selected seeds"
                      i18n-matTooltip="@@configurationRunCrawlSelectedSeedsButtonTooltip">play_arrow
                    </mat-icon>
                  </button>
                }
                @if (!isAllSelected && (can('update', Kind[kind]))) {
                  <button mat-icon-button
                    aria-label="Edit selected configurations"
                    (click)="onEditSelected()">
                    <mat-icon matTooltip="Edit selected configurations"
                      i18n-matTooltip="@@configurationEditSelectedConfigurationsButtonTooltip">edit
                    </mat-icon>
                  </button>
                }
                @if (isAllSelected && (can('updateAll', Kind[kind]))) {
                  <button mat-icon-button
                    aria-label="Edit all matching configurations"
                    (click)="onEditSelected()">
                    <mat-icon matTooltip="Edit all configurations in database"
                      i18n-matTooltip="@@configurationEditAllConfigurationsInDbButtonTooltip">edit
                    </mat-icon>
                  </button>
                }
                @if (!isAllSelected && (can('delete', Kind[kind]))) {
                  <button mat-icon-button
                    aria-label="Delete selected configurations"
                    (click)="onDeleteSelectedConfigs()">
                    <mat-icon matTooltip="Delete selected configurations"
                      i18n-matTooltip="@@configurationDeleteSelectedConfigurationsButtonTooltip">delete
                    </mat-icon>
                  </button>
                }
                @if (kind === Kind.COLLECTION) {
                  <ng-container *appFilter="let row">
                    @if (can('read', Kind[Kind.CRAWLCONFIG])) {
                      <button mat-menu-item
                        (click)="onFilterByCollectionRef(row)"
                        matTooltip="Show crawl configurations that use this collection"
                        matTooltipPosition="left"
                        i18n-matTooltip="@@collectionListShowCrawlConfigsWitchCollectionRefActionButtonTooltip">
                <mat-icon>{{configKindIcon(Kind.CRAWLCONFIG)}}</mat-icon>
                <span i18n="@@configMenuShowCrawlConfigurations">Show crawl configurations</span>
              </button>
                    }
                  </ng-container>
                }
                @if (kind === Kind.CRAWLENTITY) {
                  @if (can('read', Kind[Kind.SEED])) {
                    <a *appFilter="let row" mat-menu-item
                      [routerLink]="['../seed']"
                      [queryParams]="{entity_id: row.id}">
                <mat-icon>{{configKindIcon(Kind.SEED)}}</mat-icon>
                <span i18n="@@configMenuShowSeeds">Show seeds</span>
              </a>
                  }
                  @if (can('create', Kind[Kind.SEED])) {
                    <button *appAction="let row" mat-menu-item
                      (click)="onCreateSeedFromEntity(row)"
                      matTooltip="Create a new seed with reference to the entity"
                      matTooltipPosition="left"
                      i18n-matTooltip="@@crawlEntityListCreateSeedActionButtonTooltip">
                <mat-icon>add_circle</mat-icon>
                <span i18n="@@configMenuCreateSeedAction">Create seed</span>
              </button>
                  }
                }
                @if (kind === Kind.SEED) {
                  <ng-container *appAction="let row">
                    @if (canRunCrawl(row)) {
                      <button mat-menu-item
                        (click)="onRunCrawl(row)"
                        matTooltip="Start crawling seed: {{row.meta.name}}"
                        matTooltipPosition="left"
                        i18n-matTooltip="@@configListActionButtonRunCrawlOfSeedTooltip">
                        <mat-icon>play_arrow</mat-icon>
                        <span i18n="@@configMenuRunCrawlAction">Run crawl</span>
                      </button>
                    }
                  </ng-container>
                  @if (can('read', 'crawlexecution')) {
                    <a *appFilter="let row" mat-menu-item
                      [routerLink]="['/report/crawlexecution']"
                      [queryParams]="{seed_id: row.id}">
                <mat-icon>hdr_weak</mat-icon>
                <span i18n="@@configMenuShowCrawlExecutions">Show crawl executions</span>
              </a>
                  }
                  <ng-container *appFilter="let row">
                    @if (row?.seed?.jobRefList.length) {
                      @if (can('read', Kind[Kind.SEED])) {
                        <a mat-menu-item
                          [routerLink]="['../seed']"
                          [queryParams]="getJobRefListQueryParams(row)"
                          matTooltip="Show seeds with the same crawl job"
                          matTooltipPosition="left"
                          i18n-matTooltip="@@seedListFilterSeedsByCrawljobActionButtonTooltip">
                    <mat-icon>{{configKindIcon(Kind.SEED)}}</mat-icon>
                    <span i18n="@@configMenuShowSeedsWithSameCrawlJob">Show seeds with the same crawl job</span>
                  </a>
                      }
                    }
                  </ng-container>
                  <ng-container *appFilter="let row">
                    @if (can('read', Kind[Kind.SEED])) {
                      <button mat-menu-item
                        (click)="onFilterByEntityRef(row)"
                        matTooltip="Show seeds with the same entity"
                        matTooltipPosition="left"
                        i18n-matTooltip="@@seedListFilterSeedByEntityActionButtonTooltip">
                <mat-icon>{{configKindIcon(Kind.SEED)}}</mat-icon>
                <span i18n="@@configMenuShowSeedsWithSameEntity">Show seeds with the same entity</span>
              </button>
                    }
                  </ng-container>
                }
                @if (kind === Kind.CRAWLSCHEDULECONFIG) {
                  <ng-container *appFilter="let row">
                    @if (can('read', Kind[Kind.CRAWLJOB])) {
                      <button mat-menu-item
                        (click)="onFilterByScheduleRef(row)"
                        matTooltip="Show crawl jobs that use this schedule"
                        matTooltipPosition="left"
                        i18n-matTooltip="@@scheduleListShowCrawljobsWithScheduleActionButtonTooltip">
                <mat-icon>{{configKindIcon(Kind.CRAWLJOB)}}</mat-icon>
                <span i18n="@@configMenuShowCrawlJobs">Show crawl jobs</span>
              </button>
                    }
                  </ng-container>
                }
                @if (kind === Kind.CRAWLCONFIG) {
                  <ng-container *appShortcut="let row">
                    @if (row.crawlConfig?.collectionRef?.id) {
                      @if (can('read', Kind[Kind.COLLECTION])) {
                        <a mat-menu-item
                          [routerLink]="['../collection', $safeNavigationMigration(row.crawlConfig.collectionRef?.id)]"
                          matTooltip="Go to collection: {{row | getCollectionName | async}}"
                          matTooltipPosition="left"
                          i18n-matTooltip="@@crawlConfigListGoToCollectionActionButtonTooltip">
                  <mat-icon>{{configKindIcon(Kind.COLLECTION)}}</mat-icon>
                  <span i18n="@@configMenuGoToCollection">Go to collection</span>
                </a>
                      }
                    }
                  </ng-container>
                  <ng-container *appShortcut="let row">
                    @if (row.crawlConfig?.browserConfigRef?.id) {
                      @if (can('read', Kind[Kind.BROWSERCONFIG])) {
                        <a mat-menu-item
                          [routerLink]="['../browserconfig', $safeNavigationMigration(row.crawlConfig.browserConfigRef?.id)]"
                          matTooltip="Go to browser configuration: {{row | getBrowserConfigName | async}}"
                          matTooltipPosition="left"
                          i18n-matTooltip="@@crawlConfigListGoToBrowserConfigActionButtonTooltip">
                  <mat-icon>{{configKindIcon(Kind.BROWSERCONFIG)}}</mat-icon>
                  <span i18n="@@configMenuGoToBrowserConfiguration">Go to browser configuration</span>
                </a>
                      }
                    }
                  </ng-container>
                  <ng-container *appShortcut="let row">
                    @if (row.crawlConfig?.politenessRef?.id) {
                      @if (can('read', Kind[Kind.POLITENESSCONFIG])) {
                        <a mat-menu-item
                          [routerLink]="['../politenessconfig', $safeNavigationMigration(row.crawlConfig.politenessRef?.id)]"
                          matTooltip="Go to politeness configuration: {{row | getPolitenessConfigName | async}}"
                          matTooltipPosition="left"
                          i18n-matTooltip="@@crawlConfigListGoToPolitenessActionButtonTooltip">
                  <mat-icon>{{configKindIcon(Kind.POLITENESSCONFIG)}}</mat-icon>
                  <span i18n="@@configMenuGoToPolitenessConfiguration">Go to politeness configuration</span>
                </a>
                      }
                    }
                  </ng-container>
                  <ng-container *appFilter="let row">
                    @if (can('read', Kind[Kind.CRAWLJOB])) {
                      <button mat-menu-item
                        (click)="onFilterByCrawlConfigRef(row)"
                        matTooltip="Show crawl jobs that use this crawl configuration"
                        matTooltipPosition="left"
                        i18n-matTooltip="@@crawlConfigListFilterCrawljobsWithCrawlconfigActionButtonTooltip">
                <mat-icon>{{configKindIcon(Kind.CRAWLJOB)}}</mat-icon>
                <span i18n="@@configMenuShowCrawlJobs">Show crawl jobs</span>
              </button>
                    }
                  </ng-container>
                }
                @if (kind === Kind.BROWSERCONFIG) {
                  <ng-container *appFilter="let row">
                    @if (can('read', Kind[Kind.CRAWLCONFIG])) {
                      <button mat-menu-item
                        (click)="onFilterByBrowserConfigRef(row)"
                        matTooltip="Show crawl configurations that use this browser configuration"
                        matTooltipPosition="left"
                        i18n-matTooltip="@@browserConfigListFilterCrawljobsWithBrowserconfigActionButtonTooltip">
                <mat-icon>{{configKindIcon(Kind.CRAWLCONFIG)}}</mat-icon>
                <span i18n="@@configMenuShowCrawlConfigurations">Show crawl configurations</span>
              </button>
                    }
                  </ng-container>
                }
                @if (kind === Kind.POLITENESSCONFIG) {
                  <ng-container *appFilter="let row">
                    @if (can('read', Kind[Kind.CRAWLCONFIG])) {
                      <button mat-menu-item
                        (click)="onFilterByPolitenessConfigRef(row)"
                        matTooltip="Show crawl configurations that use this politeness configuration"
                        matTooltipPosition="left"
                        i18n-matTooltip="@@politenessConfigListFilterCrawlconfigWithPolitenessActionButtonTooltip">
                <mat-icon>{{configKindIcon(Kind.CRAWLCONFIG)}}</mat-icon>
                <span i18n="@@configMenuShowCrawlConfigurations">Show crawl configurations</span>
              </button>
                    }
                  </ng-container>
                }
                @if (kind === Kind.BROWSERSCRIPT) {
                  <ng-container *appFilter="let row">
                    @if (can('read', Kind[Kind.BROWSERCONFIG])) {
                      <button mat-menu-item
                        (click)="onFilterByBrowserScriptRef(row)"
                        matTooltip="Show browser configurations that use this browser script"
                        matTooltipPosition="left"
                        i18n-matTooltip="@@browserscriptListFilterBrowserconfigsWithBrowserscriptActionButtonTooltip">
                <mat-icon>{{configKindIcon(Kind.BROWSERCONFIG)}}</mat-icon>
                <span i18n="@@configMenuShowBrowserConfigurations">Show browser configurations</span>
              </button>
                    }
                  </ng-container>
                }
                @if (kind === Kind.CRAWLJOB) {
                  <ng-container *appAction="let row">
                    @if (canRunCrawl(row)) {
                      <button mat-menu-item
                        (click)="onRunCrawl(row)"
                        matTooltip="Run crawl job: {{row.meta.name}}"
                        matTooltipPosition="left"
                        i18n-matTooltip="@@runCrawlActionButtonTooltip">
                        <mat-icon>play_arrow</mat-icon>
                        <span i18n="@@configMenuRunCrawlAction">Run crawl</span>
                      </button>
                    }
                  </ng-container>
                  @if (can('read', 'reports')) {
                    <a *appShortcut="let row" mat-menu-item
                      [routerLink]="['/report/jobexecution']"
                      [queryParams]="{job_id: row.id}"
                      matTooltip="Show job executions for this crawl job"
                      matTooltipPosition="left"
                      i18n-matTooltip="@@crawljobListJobExecutionShortcutActionButtonTooltip">
                <mat-icon>hdr_strong</mat-icon>
                <span i18n="@@configMenuShowJobExecutions">Show job executions</span>
              </a>
                  }
                  <ng-container *appShortcut="let row">
                    @if (row.crawlJob?.scheduleRef.id) {
                      @if (can('read', Kind[Kind.CRAWLSCHEDULECONFIG])) {
                        <a mat-menu-item
                          [routerLink]="['../schedule', $safeNavigationMigration(row.crawlJob.scheduleRef?.id) ]"
                          matTooltip="Go to schedule: {{row | getCrawlScheduleName | async}}"
                          matTooltipPosition="left"
                          i18n-matTooltip="@@crawljobListScheduleShortcutActionButtonTooltip">
                  <mat-icon>{{configKindIcon(Kind.CRAWLSCHEDULECONFIG)}}</mat-icon>
                  <span i18n="@@configMenuGoToSchedule">Go to schedule</span>
                </a>
                      }
                    }
                  </ng-container>
                  <ng-container *appShortcut="let row">
                    @if (row.crawlJob?.crawlConfigRef?.id) {
                      @if (can('read', Kind[Kind.CRAWLCONFIG])) {
                        <a mat-menu-item
                          [routerLink]="['../crawlconfig', $safeNavigationMigration(row.crawlJob.crawlConfigRef?.id)]"
                          matTooltip="Go to crawl configuration: {{row | getCrawlConfigName | async}}"
                          matTooltipPosition="left"
                          i18n-matTooltip="@@crawljobListCrawlconfigShortcutActionButtonTooltip">
                  <mat-icon>{{configKindIcon(Kind.CRAWLCONFIG)}}</mat-icon>
                  <span i18n="@@configMenuGoToCrawlConfiguration">Go to crawl configuration</span>
                </a>
                      }
                    }
                  </ng-container>
                  <ng-container *appFilter="let row">
                    @if (can('read', Kind[Kind.SEED])) {
                      <button mat-menu-item
                        (click)="onFilterByCrawlJobRef(row)"
                        matTooltip="Show seeds that use this crawl job"
                        matTooltipPosition="left"
                        i18n-matTooltip="@@crawljobListFilterSeedsWithCrawljobActionButtonTooltip">
                <mat-icon>{{configKindIcon(Kind.SEED)}}</mat-icon>
                <span i18n="@@configMenuShowSeeds">Show seeds</span>
              </button>
                    }
                  </ng-container>
                }
                <ng-container *appAction="let row">
                  @if (canEdit(row)) {
                    <button mat-menu-item (click)="onEdit(row)">
              <mat-icon>edit</mat-icon>
              <span i18n="@@configMenuEditAction">Edit</span>
            </button>
                  }
                </ng-container>
                <ng-container *appAction="let row">
                  @if (canClone(row)) {
                    <button mat-menu-item
                      (click)="onClone(row)">
              <mat-icon>file_copy</mat-icon>
              <span i18n="@@configMenuCloneAction">Clone</span>
            </button>
                  }
                </ng-container>
                <ng-container *appAction="let row">
                  @if (can('delete', Kind[row.kind])) {
                    <button mat-menu-item class="destructive-menu-item" data-testid="delete-config-action"
                      (click)="onDeleteConfig(row)">
                      <mat-icon>delete</mat-icon>
                      <span i18n="@@configMenuDeleteAction">Delete</span>
                    </button>
                  }
                </ng-container>
              </app-config-list>
            </div>
          }
        }
        </div>
        @if (can('create', Kind[kind]) && showCreateButton()) {
          <button class="create-fab" mat-fab type="button"
            (click)="onCreateConfigWithDialog()"
            aria-label="Create a new configuration"
            i18n-aria-label="@@configurationSideBarMenuAddConfigButtonTooltip"
            matTooltip="Create a new configuration"
            i18n-matTooltip="@@configurationSideBarMenuAddConfigButtonTooltip">
            <mat-icon>add</mat-icon>
          </button>
        }
    }
</div>
