<mat-nav-list>
    @switch (configObject.kind) {
      @case (Kind.CRAWLENTITY) {
        <div mat-subheader i18n="@@filterShortcutListTitle">
        Filters
      </div>
        @if (can('read', Kind[Kind.SEED])) {
          <a mat-list-item
            [routerLink]="['../../seed']"
            [queryParams]="{entity_id: configObject.id}">
            <mat-icon matListItemIcon>{{configKindIcon(Kind.SEED)}}</mat-icon>
            <span i18n="@@configMenuShowSeeds">Show seeds</span>
          </a>
        }
      }
      @case (Kind.SEED) {
        <div mat-subheader i18n="@@filterShortcutListTitle">
        Filters
      </div>
        @if (can('read', 'reports')) {
          <a mat-list-item
            [routerLink]="['/report/crawlexecution/']"
            [queryParams]="{seed_id: configObject.id}"
            matTooltip="Show crawl executions for this seed"
            i18n-matTooltip="@@seedListShowCrawlExecutionsActionButtonTooltip">
            <mat-icon matListItemIcon>hdr_weak</mat-icon>
            <span i18n="@@configMenuShowCrawlExecutions">Show crawl executions</span>
          </a>
        }
        @if (configObject.seed.jobRefList.length) {
          @if (can('read', Kind[Kind.SEED])) {
            <a mat-list-item
              [routerLink]="['../../seed']"
              [queryParams]="getJobRefListQueryParams(configObject)"
              matTooltip="Show seeds with the same crawl job"
              i18n-matTooltip="@@seedListFilterSeedsByCrawljobActionButtonTooltip">
              <mat-icon matListItemIcon>{{configKindIcon(Kind.SEED)}}</mat-icon>
              <span i18n="@@configMenuShowSeedsWithSameCrawlJob">Show seeds with the same crawl job</span>
            </a>
          }
        }
        @if (can('read', Kind[Kind.SEED])) {
          <a mat-list-item
            [routerLink]="['../../seed']"
            [queryParams]="{entity_id: configObject.seed.entityRef.id}"
            matTooltip="Show seeds with the same entity"
            i18n-matTooltip="@@seedListFilterSeedByEntityActionButtonTooltip">
            <mat-icon matListItemIcon>{{configKindIcon(Kind.SEED)}}</mat-icon>
            <span i18n="@@configMenuShowSeedsWithSameEntity">Show seeds with the same entity</span>
          </a>
        }
      }
      @case (Kind.CRAWLJOB) {
        <div mat-subheader i18n="@@filterShortcutListTitle">
        Filters
      </div>
        @if (can('read', 'reports')) {
          <a mat-list-item
            [routerLink]="['/report/jobexecution']"
            [queryParams]="{job_id: configObject.id}"
            matTooltip="Show job executions for this crawl job"
            i18n-matTooltip="@@crawljobListJobExecutionShortcutActionButtonTooltip">
            <mat-icon matListItemIcon>hdr_strong</mat-icon>
            <span i18n="@@configMenuShowJobExecutions">Show job executions</span>
          </a>
        }
        @if (can('read', Kind[Kind.SEED])) {
          <a mat-list-item
            [routerLink]="['../../seed']"
            [queryParams]="{crawl_job_id: configObject.id}"
            matTooltip="Show seeds that use this crawl job"
            i18n-matTooltip="@@crawljobListFilterSeedsWithCrawljobActionButtonTooltip">
            <mat-icon matListItemIcon>{{configKindIcon(Kind.SEED)}}</mat-icon>
            <span i18n="@@configMenuShowSeeds">Show seeds</span>
          </a>
        }
      }
      @case (Kind.CRAWLSCHEDULECONFIG) {
        <div mat-subheader i18n="@@filterShortcutListTitle">
        Filters
      </div>
        @if (can('read', Kind[Kind.CRAWLJOB])) {
          <a mat-list-item
            [routerLink]="['../../crawljobs']"
            [queryParams]="{schedule_id: configObject.id}"
            matTooltip="Show crawl jobs that use this schedule"
            i18n-matTooltip="@@scheduleListShowCrawljobsWithScheduleActionButtonTooltip">
            <mat-icon matListItemIcon>{{configKindIcon(Kind.CRAWLJOB)}}</mat-icon>
            <span i18n="@@configMenuShowCrawlJobs">Show crawl jobs</span>
          </a>
        }
      }
      @case (Kind.CRAWLCONFIG) {
        <div mat-subheader i18n="@@filterShortcutListTitle">
        Filters
      </div>
        @if (can('read', Kind[Kind.CRAWLJOB])) {
          <a mat-list-item
            [routerLink]="['../../crawljobs']"
            [queryParams]="{crawl_config_id: configObject.id}"
            matTooltip="Show crawl jobs that use this crawl configuration"
            i18n-matTooltip="@@crawlConfigListFilterCrawljobsWithCrawlconfigActionButtonTooltip">
            <mat-icon matListItemIcon>{{configKindIcon(Kind.CRAWLJOB)}}</mat-icon>
            <span i18n="@@configMenuShowCrawlJobs">Show crawl jobs</span>
          </a>
        }
      }
      @case (Kind.COLLECTION) {
        <div mat-subheader i18n="@@filterShortcutListTitle">
        Filters
      </div>
        @if (can('read', Kind[Kind.CRAWLCONFIG])) {
          <a mat-list-item
            [routerLink]="['../../crawlconfig']"
            [queryParams]="{collection_id: configObject.id}"
            matTooltip="Show crawl configurations that use this collection"
            i18n-matTooltip="@@collectionListShowCrawlConfigsWitchCollectionRefActionButtonTooltip">
            <mat-icon matListItemIcon>{{configKindIcon(Kind.CRAWLCONFIG)}}</mat-icon>
            <span i18n="@@configMenuShowCrawlConfigurations">Show crawl configurations</span>
          </a>
        }
      }
      @case (Kind.BROWSERCONFIG) {
        <div mat-subheader i18n="@@filterShortcutListTitle">
        Filters
      </div>
        @if (can('read', Kind[Kind.CRAWLCONFIG])) {
          <a mat-list-item
            [routerLink]="['../../crawlconfig']"
            [queryParams]="{browser_config_id: configObject.id}"
            matTooltip="Show crawl configurations that use this browser configuration"
            i18n-matTooltip="@@browserConfigListFilterCrawljobsWithBrowserconfigActionButtonTooltip">
            <mat-icon matListItemIcon>{{configKindIcon(Kind.CRAWLCONFIG)}}</mat-icon>
            <span i18n="@@configMenuShowCrawlConfigurations">Show crawl configurations</span>
          </a>
        }
      }
      @case (Kind.BROWSERSCRIPT) {
        <div mat-subheader i18n="@@filterShortcutListTitle">
        Filters
      </div>
        @if (can('read', Kind[Kind.BROWSERCONFIG])) {
          <a mat-list-item
            [routerLink]="['../../browserconfig']"
            [queryParams]="{script_id: configObject.id}"
            matTooltip="Show browser configurations that use this browser script"
            i18n-matTooltip="@@browserscriptListFikterBrowserconfigsWithBrowserscriptActionButtonTooltip">
            <mat-icon matListItemIcon>{{configKindIcon(Kind.BROWSERCONFIG)}}</mat-icon>
            <span i18n="@@configMenuShowBrowserConfigurations">Show browser configurations</span>
          </a>
        }
      }
      @case (Kind.POLITENESSCONFIG) {
        <div mat-subheader i18n="@@filterShortcutListTitle">
        Filters
      </div>
        @if (can('read', Kind[Kind.CRAWLCONFIG])) {
          <a mat-list-item
            [routerLink]="['../../crawlconfig']"
            [queryParams]="{politeness_id: configObject.id}"
            matTooltip="Show crawl configurations that use this politeness configuration"
            i18n-matTooltip="@@politenessConfigListFilterCrawlconfigWithPolitenessActionButtonTooltip">
            <mat-icon matListItemIcon>{{configKindIcon(Kind.CRAWLCONFIG)}}</mat-icon>
            <span i18n="@@configMenuShowCrawlConfigurations">Show crawl configurations</span>
          </a>
        }
      }
    }
</mat-nav-list>
