<div mat-dialog-title class="mass-update-header">
  <h2 i18n="@@roleMappingMassUpdateDialogTitle">Update user roles</h2>
  <p i18n="@@massUpdateDialogDescription">
    Only changed settings will be applied. Values left untouched will be preserved.
  </p>
</div>

<mat-dialog-content class="mass-update-content">
  <form [formGroup]="form" class="mass-update-form">
    <mat-form-field>
      <mat-label i18n="@@rolemappingDetailsRoleDropdownLabel">
        Role
      </mat-label>
      <mat-select formControlName="roleList" multiple>
        @for (role of roles; track role) {
          <mat-option [value]="role">{{Role[role]}}</mat-option>
        }
      </mat-select>
      @if (!roleList.valid) {
        <mat-error i18n="@@roleMappingDetailsRoleRequiredError">
        A user must be assigned at least one role.
      </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    (click)="onRevert()"
    [disabled]="!canRevert"
    i18n="@@commonButtonRevert">
    REVERT
  </button>
  <button mat-button
    mat-dialog-close
    i18n="@@commonButtonCancel">CANCEL
  </button>
  <button mat-flat-button
    [disabled]="!canUpdate"
    [mat-dialog-close]="onDialogClose()"
    i18n="@@commonButtonSave">UPDATE
  </button>
</mat-dialog-actions>
