---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
  labels:
    grafana_datasource: "veidemann"
data:
  datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        uid: prometheus
        url: http://kube-prometheus-stack-prometheus.telemetry.svc.cluster.local:9090/prometheus
        access: proxy
        isDefault: true
        jsonData:
          timeInterval: 30s
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: grafana
spec:
  interval: 30m
  url: https://grafana.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  chart:
    spec:
      chart: grafana
      sourceRef:
        kind: HelmRepository
        name: grafana
      version: "~8.6.4"
  interval: 1h0m0s
  install:
    remediation:
      retries: 3
  values:
    plugins:
      - grafana-piechart-panel
    sidecar:
      dashboards:
        enabled: true
      datasources:
        enabled: true
        label: grafana_datasource
        labelValue: "veidemann"
        searchNamespace: veidemann
    grafana.ini:
      "auth.anonymous":
        enabled: true
      server:
        root_url: https://veidemann.test/grafana
    ingress:
      enabled: true
      path: /grafana(/|$)(.*)
      pathType: ImplementationSpecific
      hosts:
        - veidemann.test
      annotations:
        nginx.ingress.kubernetes.io/use-regex: "true"
        nginx.ingress.kubernetes.io/rewrite-target: /$2
