<form [formGroup]="form" class="mass-update-form">
  <div mat-dialog-title class="mass-update-header">
    <h2 i18n="@@seedMassUpdateDialogTitle">Update seeds</h2>
    <p i18n="@@massUpdateDialogDescription">
      Only changed settings will be applied. Values left untouched will be preserved.
    </p>
  </div>

  <mat-dialog-content class="mass-update-content">
    <div class="mass-update-grid">
      <div class="mass-update-section">
        <app-label-multi [configObject]="configObject"
          [allSelected]="allSelected"
          (update)="onUpdateLabels($event)">
        </app-label-multi>
      </div>

      <div class="mass-update-section">
        <app-multi-update-operation
          heading="Crawl jobs" i18n-heading="@@massUpdateCrawlJobsHeading"
          addLabel="Add crawl jobs" i18n-addLabel="@@seedMultiAddCrawlJobsLabel"
          removeLabel="Remove crawl jobs" i18n-removeLabel="@@seedMultiRemoveCrawlJobsLabel"
          [mode]="shouldAddCrawlJob"
          [disabled]="!canEdit"
          (modeChange)="onToggleShouldAddCrawlJob($event)">
          <mat-form-field multiUpdateCommon>
            <mat-label i18n="@@seedDetailsFormJobRefListLabel">
              Crawljob
            </mat-label>
            <mat-select multiple formControlName="commonJobRefListId">
              @for (crawlJob of crawlJobs; track crawlJob) {
                <mat-option
                [value]="crawlJob.id">{{crawlJob.meta.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field multiUpdateEditor class="crawl-job-update-field">
            <mat-label i18n="@@seedDetailsCrawlJobDropDownLabel">
                Crawljob
            </mat-label>
            <mat-select multiple formControlName="updateJobRefListId">
              @for (crawlJob of crawlJobs; track crawlJob) {
                <mat-option [value]="crawlJob.id">{{crawlJob.meta.name}}</mat-option>
              }
            </mat-select>
            @if (shouldAddCrawlJob === true) {
              <mat-hint>Select crawljobs to add</mat-hint>
            }
            @if (shouldAddCrawlJob === false) {
              <mat-hint>Select crawljobs to remove</mat-hint>
            }
          </mat-form-field>
        </app-multi-update-operation>

      </div>

      <div class="mass-update-section">
        <fieldset class="mass-update-choice">
          <legend id="seed-mass-update-status" i18n="@@massUpdateStatusLabel">Status</legend>
          <app-boolean-override formControlName="disabledSelection"
            appearance="chips"
            ariaLabel="Status" i18n-ariaLabel="@@massUpdateStatusLabel"
            trueLabel="Deactivated" i18n-trueLabel="@@massUpdateStatusDeactivated"
            falseLabel="Activated" i18n-falseLabel="@@massUpdateStatusActivated">
          </app-boolean-override>
        </fieldset>
      </div>
    </div>
  </mat-dialog-content>
</form>
@if (canEdit) {
  <mat-dialog-actions align="end">
    <button mat-button
      [disabled]="!canRevert"
      (click)="onRevert()"><ng-container i18n="@@commonButtonRevert">REVERT</ng-container></button>
    <button mat-button
      mat-dialog-close><ng-container i18n="@@commonButtonCancel">CANCEL</ng-container></button>
    <button mat-flat-button
      [disabled]="!canUpdate"
      [mat-dialog-close]="onDialogClose()"><ng-container i18n="@@commonButtonUpdate">UPDATE</ng-container></button>
  </mat-dialog-actions>
}
