<form [formGroup]="form" class="mass-update-form">
  <div mat-dialog-title class="mass-update-header">
    <h2 i18n="@@browserScriptMassUpdateDialogTitle">Update browser scripts</h2>
    <p i18n="@@massUpdateDialogDescription">
      Only changed settings will be applied. Values left untouched will be preserved.
    </p>
  </div>

  <mat-dialog-content class="mass-update-content">
    <app-label-multi [configObject]="configObject"
      [allSelected]="allSelected"
      (update)="onUpdateLabels($event)">
    </app-label-multi>
  </mat-dialog-content>
</form>
@if (canEdit) {
  <mat-dialog-actions align="end">
    <button mat-button
      (click)="onRevert()"
      [disabled]="!canRevert"
      i18n="@@commonButtonRevert">REVERT
  </button>
    <button mat-button
      mat-dialog-close
      i18n="@@commonButtonCancel">CANCEL
    </button>
    <button mat-flat-button
      [disabled]="!canUpdate"
      [mat-dialog-close]="onDialogClose()"
      i18n="@@commonButtonSave">UPDATE
    </button>
  </mat-dialog-actions>
}
