:host {
  display: block;
  flex: 1 0 100%;
  min-width: 0;
  width: 100%;
}

a[mat-chip],
mat-chip[role='button'] {
  cursor: pointer;
}

a[mat-chip] *,
mat-chip[role='button'] * {
  cursor: inherit;
}

a[mat-chip] {
  text-decoration: none;
}
