<form [formGroup]="form" class="mass-update-form">
  <div mat-dialog-title class="mass-update-header">
    <h2 i18n="@@politenessConfigMassUpdateDialogTitle">Update politeness configurations</h2>
    <p i18n="@@massUpdateDialogDescription">
      Only changed settings will be applied. Values left untouched will be preserved.
    </p>
  </div>

  <mat-dialog-content class="mass-update-content">
    <div class="mass-update-grid">
    <div class="mass-update-section">
      <app-label-multi [configObject]="configObject"
        [allSelected]="allSelected"
      (update)="onUpdateLabels($event)"></app-label-multi>
    </div>

    <div class="mass-update-section">
      <div role="button"
        tabindex="0"
        (click)="onEnableRobotsPolicy()"
        (keydown.enter)="onEnableRobotsPolicy()"
        (keydown.space)="onEnableRobotsPolicy()">
        <mat-form-field>
          <mat-label i18n="@@politenessconfigFormRobotPolicyDropdownLabel">
            Robot policy
          </mat-label>
          <mat-select formControlName="robotsPolicy"
            i18n-matTooltip='@@politenessconfigFormRobotPolicyDisabledExplanation'
                      [matTooltip]="robotsPolicy.disabled ?
                        'Setting is not the same for all selected configurations.'
                        + 'Click here and set the desired value to override all,'
                        + 'or leave untouched to retain the original configuration value'
                        : null">
            @for (policy of robotsPolicies; track policy) {
              <mat-option [value]="policy">{{RobotsPolicy[policy]}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>


      @if (robotsPolicy.value === 'CUSTOM_ROBOTS') {
        <div class="customRobotTxtInput">
          <mat-form-field>
            <mat-label i18n="@@politenessconfigFormCustomRobotsPolicyInputPlaceholder">
            robots.txt
          </mat-label>
            <textarea matInput
              formControlName="customRobots">
            </textarea>
          </mat-form-field>
        </div>
      }

      <mat-label i18n="@@politenessconfigFormMinRobotsValidDurationLabel">Minimum robots validity</mat-label>
      <app-duration-picker formControlName="minimumRobotsValidityDurationS"
        [unit]="UnitOfTime.SECOND"
        [durationGranularity]="'d:h:m:s'">
      </app-duration-picker>
      @if (!minRobotsValidDurationSec.valid) {
        <mat-error
          i18n="@@politenessconfigFormMinRobotsValidDurationValidationError">
        Must be a number.
      </mat-error>
      }

      <fieldset class="mass-update-choice">
        <legend i18n="@@politenesslconfigFormUseHostnameLabel">Use hostname</legend>
        <app-boolean-override formControlName="useHostname"
          ariaLabel="Use hostname" i18n-ariaLabel="@@politenesslconfigFormUseHostnameLabel"
          trueLabel="Use hostname" i18n-trueLabel="@@politenessMultiUseHostname"
          falseLabel="Do not use hostname" i18n-falseLabel="@@politenessMultiDoNotUseHostname">
        </app-boolean-override>
      </fieldset>
    </div>
    </div>
  </mat-dialog-content>
</form>
@if (canEdit) {
  <mat-dialog-actions align="end">
    <button mat-button
      (click)="onRevert()"
      [disabled]="!canRevert"
      i18n="@@commonButtonRevert">REVERT
  </button>
    <button mat-button
      mat-dialog-close
      i18n="@@commonButtonCancel">CANCEL
    </button>
    <button mat-flat-button
      [disabled]="!canUpdate"
      [mat-dialog-close]="onDialogClose()"
      i18n="@@commonButtonSave">UPDATE
    </button>
  </mat-dialog-actions>
}
