<form [formGroup]="form" (ngSubmit)="onApply()">
  @if (data.type === 'label') {
    <h2 mat-dialog-title i18n="@@labelEditCardTitle">Edit label</h2>
  } @else {
    <h2 mat-dialog-title i18n="@@annotationEditCardTitle">Edit annotation</h2>
  }

  <mat-dialog-content>
    <mat-form-field>
      <mat-label i18n="@@annotationFormAddNewKeyPlaceholder">Key</mat-label>
      <input matInput formControlName="key">
      @if (key.invalid) {
        <mat-error i18n="@@annotationKeyEmptyError">
          Can't be empty or contain a colon.
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n="@@annotationFormAddNewValuePlaceholder">Value</mat-label>
      <input #valueInput matInput formControlName="value">
      @if (value.invalid) {
        <mat-error i18n="@@annotationValueEmptyError">Can't be empty.</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close><ng-container i18n="@@commonButtonCancel">CANCEL</ng-container></button>
    <button mat-flat-button type="submit" [disabled]="!canApply" i18n="@@commonButtonApply">APPLY</button>
  </mat-dialog-actions>
</form>
