apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rethinkdb
  labels:
    app.kubernetes.io/name: rethinkdb
    app.kubernetes.io/component: cluster
spec:
  replicas: 1
  serviceName: rethinkdb
  selector:
    matchLabels:
      app.kubernetes.io/name: rethinkdb
      app.kubernetes.io/component: cluster
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
  template:
    metadata:
      name: rethinkdb
      labels:
        app.kubernetes.io/name: rethinkdb
        app.kubernetes.io/component: cluster
    spec:
      containers:
        - name: rethinkdb
          image: ghcr.io/nationallibraryofnorway/veidemann/rethinkdb:0.3.2
          ports:
            - name: driver
              containerPort: 28015
            - name: cluster
              containerPort: 29015
          args:
            - --directory
            - /data/db
            - --bind
            - $(POD_IP)
            - --no-http-admin
            - --no-update-check
          volumeMounts:
            - name: data
              mountPath: /data/db
          env:
            - name: RETHINKDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: DB_PASSWORD
                  name: rethinkdb-env
                  optional: false
            - name: POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          startupProbe:
            exec:
              command:
                - /rethinkdb-probe
            failureThreshold: 10
          livenessProbe:
            exec:
              command:
                - /rethinkdb-probe
            timeoutSeconds: 5
          readinessProbe:
            exec:
              command:
                - /rethinkdb-probe
            timeoutSeconds: 5

