<div mat-dialog-title class="mass-update-header">
  <h2 i18n="@@entityMassUpdateDialogTitle">Update entities</h2>
  <p i18n="@@massUpdateDialogDescription">
    Only changed settings will be applied. Values left untouched will be preserved.
  </p>
</div>
<mat-dialog-content class="mass-update-content">
  <app-label-multi [configObject]="configObject"
    [allSelected]="allSelected"
    (update)="onUpdateLabels($event)">
  </app-label-multi>
</mat-dialog-content>

@if (canEdit) {
  <mat-dialog-actions align="end">
    <button mat-button
      (click)="onRevert()"
      [disabled]="!canRevert"><ng-container i18n="@@commonButtonRevert">REVERT</ng-container></button>
    <button mat-button
      mat-dialog-close><ng-container i18n="@@commonButtonCancel">CANCEL</ng-container></button>
    <button mat-flat-button
      [disabled]="!canUpdate"
      [mat-dialog-close]="onDialogClose()"><ng-container i18n="@@commonButtonUpdate">UPDATE</ng-container></button>
  </mat-dialog-actions>
}
