<form [formGroup]="form" class="query-fields">
  @if (query?.kind) {
    <mat-form-field appearance="outline" class="search-form" subscriptSizing="dynamic">
      <mat-label>{{searchLabel}}</mat-label>
      <input matInput
        #search
        [(ngModel)]="term"
        [ngModelOptions]="{standalone: true}"
        (keyup.enter)="onSearch(term)">
      @if (term) {
        <button mat-icon-button matSuffix type="button" (click)="term = ''; onSearch(term);">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  }

  @switch ($safeNavigationMigration(query?.kind)) {
      @case (Kind.CRAWLJOB) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryScheduleDropdownLabel">Schedule</mat-label>
          <mat-select formControlName="scheduleId">
            <mat-option [value]=""></mat-option>
            @for (option of options.crawlScheduleConfigs; track option) {
              <mat-option
              [value]="option.id">{{option.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryCrawlConfigDropdownLabel">CrawlConfig</mat-label>
          <mat-select formControlName="crawlConfigId">
            <mat-option [value]=""></mat-option>
            @for (option of options.crawlConfigs; track option) {
              <mat-option
              [value]="option.id">{{option.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryStatusDropdownLabel">Status</mat-label>
          <mat-select formControlName="disabled" [canSelectNullableOptions]="true">
            <mat-option [value]="null" i18n="@@configQueryStatusShowAll">Show all</mat-option>
            <mat-option [value]="true" i18n="@@configQueryStatusShowDisabled">Show disabled</mat-option>
            <mat-option [value]="false" i18n="@@configQueryStatusShowEnabled">Show enabled</mat-option>
          </mat-select>
        </mat-form-field>
      }
      @case (Kind.SEED) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryCrawlJobDropdownLabel">
            CrawlJob
          </mat-label>
          <mat-select multiple formControlName="crawlJobIdList">
            @for (crawlJob of options.crawlJobs; track crawlJob) {
              <mat-option
              [value]="crawlJob.id">{{crawlJob.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryEntityIdInputLabel">
          Entity Id
        </mat-label>
          <input matInput formControlName="entityId">
        </mat-form-field>
        <fieldset class="seed-chip-filter status-filter">
          <legend id="seed-status-filter-label" i18n="@@configQueryStatusDropdownLabel">Status</legend>
          <mat-chip-listbox formControlName="disabled" aria-labelledby="seed-status-filter-label">
            <mat-chip-option [value]="false" i18n="@@configQueryStatusShowEnabled">Show enabled</mat-chip-option>
            <mat-chip-option [value]="true" i18n="@@configQueryStatusShowDisabled">Show disabled</mat-chip-option>
          </mat-chip-listbox>
        </fieldset>
        @if (selectedCrawlJobs.length) {
          <fieldset class="seed-chip-filter crawl-job-filters">
            <legend id="seed-crawl-job-filter-label"
              i18n="@@configQuerySelectedCrawlJobsLabel">Crawl jobs</legend>
            <mat-chip-set aria-labelledby="seed-crawl-job-filter-label">
              @for (crawlJob of selectedCrawlJobs; track crawlJob.id) {
                <mat-chip>
                  {{crawlJob.name}}
                  <button matChipRemove type="button"
                    [attr.aria-label]="crawlJobRemoveLabel(crawlJob.name)"
                    (click)="removeCrawlJob(crawlJob.id)">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              }
            </mat-chip-set>
          </fieldset>
        }
      }
      @case (Kind.CRAWLCONFIG) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryCollectionDropdownLabel">Collection</mat-label>
          <mat-select formControlName="collectionId">
            <mat-option value=""></mat-option>
            @for (option of options.collections; track option) {
              <mat-option
              [value]="option.id">{{option.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryBrowserConfigDropdownLabel">BrowserConfig</mat-label>
          <mat-select formControlName="browserConfigId">
            <mat-option value=""></mat-option>
            @for (option of options.browserConfigs; track option) {
              <mat-option
              [value]="option.id">{{option.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryPolitenessDropdownLabel">Politeness</mat-label>
          <mat-select formControlName="politenessId">
            <mat-option value=""></mat-option>
            @for (option of options.politenessConfigs; track option) {
              <mat-option
              [value]="option.id">{{option.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      @case (Kind.BROWSERCONFIG) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryBrowserScriptDropdownLabel">
          BrowserScript
        </mat-label>
          <mat-select multiple formControlName="scriptIdList">
            @for (browserScript of options.browserScripts; track browserScript) {
              <mat-option
              [value]="browserScript.id">{{browserScript.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      @case (Kind.BROWSERSCRIPT) {
        <fieldset class="script-type-filter">
          <legend id="browser-script-type-filter-label"
            i18n="@@browserScriptFormBrowserScriptTypeDropdownLabel">
            Script type
          </legend>
          <mat-chip-listbox formControlName="browserScriptType"
            aria-labelledby="browser-script-type-filter-label">
            @for (type of filterBrowserScriptTypes; track type) {
              <mat-chip-option [value]="type">{{BrowserScriptType[type]}}</mat-chip-option>
            }
          </mat-chip-listbox>
        </fieldset>
      }
  }

  @if (showLabelSearchSuggestions) {
    <div class="label-search-suggestions">
      <span class="label-search-suggestions__label" i18n="@@configQueryLabelSuggestionsLabel">
        Try a label search
      </span>
      <mat-chip-set
        aria-label="Suggested label searches"
        i18n-aria-label="@@configQueryLabelSuggestionsAriaLabel">
        @for (suggestion of labelSearchSuggestions; track suggestion.term) {
          <mat-chip
            role="button"
            tabindex="0"
            (click)="onSearch(suggestion.term)"
            (keydown.enter)="onSearch(suggestion.term)"
            (keydown.space)="onSearch(suggestion.term); $event.preventDefault()">
            <mat-icon matChipAvatar aria-hidden="true">search</mat-icon>
            {{suggestion.label}}: {{suggestion.term}}
          </mat-chip>
        }
      </mat-chip-set>
    </div>
  }
</form>
