<form [formGroup]="form" class="query-fields">
  @if (query?.kind) {
    <mat-form-field appearance="outline" class="search-form" subscriptSizing="dynamic">
      <mat-label>{{searchLabel}}</mat-label>
      <mat-icon matPrefix aria-hidden="true">search</mat-icon>
      <input matInput
        #search
        [disabled]="disabled"
        [value]="term"
        [matAutocomplete]="labelAutocomplete"
        [matAutocompleteDisabled]="disabled"
        (input)="onSearchTermChange(search.value)"
        (keyup.enter)="onSearch(term)">
      @if (term) {
        <button mat-icon-button matSuffix type="button"
          [disabled]="disabled"
          data-testid="clear-search"
          aria-label="Clear search" i18n-aria-label="@@configQueryClearSearchLabel"
          (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (showLabelSearchHelpers) {
        <span matSuffix class="search-helper-actions">
          <button mat-icon-button type="button"
            [disabled]="disabled"
            data-testid="label-search-helper"
            aria-label="Insert label search" i18n-aria-label="@@configQueryLabelSearchHelperLabel"
            matTooltip="Insert label search" i18n-matTooltip="@@configQueryLabelSearchHelperLabel"
            (click)="insertLabelSearch()">
            <mat-icon>label</mat-icon>
          </button>
          <button mat-icon-button type="button"
            [disabled]="disabled"
            data-testid="emoji-search-helper"
            aria-label="Choose label emoji" i18n-aria-label="@@configQueryEmojiSearchHelperLabel"
            matTooltip="Choose label emoji" i18n-matTooltip="@@configQueryEmojiSearchHelperLabel"
            (click)="chooseLabelEmoji()">
            <mat-icon>add_reaction</mat-icon>
          </button>
        </span>
      }
    </mat-form-field>
    <mat-autocomplete #labelAutocomplete="matAutocomplete"
      class="label-search-suggestions"
      (optionSelected)="onLabelKeySelected($event)">
      @for (key of filteredLabelKeys; track key) {
        <mat-option [value]="key">{{key}}</mat-option>
      }
    </mat-autocomplete>
  }

  @switch ($safeNavigationMigration(query?.kind)) {
      @case (Kind.CRAWLJOB) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryScheduleDropdownLabel">Schedule</mat-label>
          <mat-select formControlName="scheduleId">
            <mat-option [value]=""></mat-option>
            @for (option of options.crawlScheduleConfigs; track option) {
              <mat-option
              [value]="option.id">{{option.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryCrawlConfigDropdownLabel">CrawlConfig</mat-label>
          <mat-select formControlName="crawlConfigId">
            <mat-option [value]=""></mat-option>
            @for (option of options.crawlConfigs; track option) {
              <mat-option
              [value]="option.id">{{option.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      @case (Kind.SEED) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryCrawlJobDropdownLabel">
            CrawlJob
          </mat-label>
          <mat-select multiple formControlName="crawlJobIdList">
            @for (crawlJob of options.crawlJobs; track crawlJob) {
              <mat-option
              [value]="crawlJob.id">{{crawlJob.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" hidden>
          <mat-label i18n="@@configQueryEntityIdInputLabel">
          Entity Id
        </mat-label>
          <input matInput formControlName="entityId">
        </mat-form-field>
      }
      @case (Kind.CRAWLCONFIG) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryCollectionDropdownLabel">Collection</mat-label>
          <mat-select formControlName="collectionId">
            <mat-option value=""></mat-option>
            @for (option of options.collections; track option) {
              <mat-option
              [value]="option.id">{{option.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryBrowserConfigDropdownLabel">BrowserConfig</mat-label>
          <mat-select formControlName="browserConfigId">
            <mat-option value=""></mat-option>
            @for (option of options.browserConfigs; track option) {
              <mat-option
              [value]="option.id">{{option.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryPolitenessDropdownLabel">Politeness</mat-label>
          <mat-select formControlName="politenessId">
            <mat-option value=""></mat-option>
            @for (option of options.politenessConfigs; track option) {
              <mat-option
              [value]="option.id">{{option.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      @case (Kind.BROWSERCONFIG) {
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label i18n="@@configQueryBrowserScriptDropdownLabel">
          BrowserScript
        </mat-label>
          <mat-select multiple formControlName="scriptIdList">
            @for (browserScript of options.browserScripts; track browserScript) {
              <mat-option
              [value]="browserScript.id">{{browserScript.meta.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      @case (Kind.BROWSERSCRIPT) {
        <fieldset class="script-type-filter">
          <legend id="browser-script-type-filter-label"
            i18n="@@browserScriptFormBrowserScriptTypeDropdownLabel">
            Script type
          </legend>
          <mat-chip-listbox formControlName="browserScriptType"
            aria-labelledby="browser-script-type-filter-label">
            @for (type of filterBrowserScriptTypes; track type) {
              <mat-chip-option [value]="type">{{BrowserScriptType[type]}}</mat-chip-option>
            }
          </mat-chip-listbox>
        </fieldset>
      }
      @case (Kind.POLITENESSCONFIG) {
        <fieldset class="script-type-filter">
          <legend id="robots-policy-filter-label" i18n="@@configContextRobotsPolicy">Robots policy</legend>
          <mat-chip-listbox formControlName="robotsPolicy" aria-labelledby="robots-policy-filter-label">
            @for (policy of options.robotsPolicies; track policy) {
              <mat-chip-option [value]="policy">{{RobotsPolicy[policy]}}</mat-chip-option>
            }
          </mat-chip-listbox>
        </fieldset>
      }
      @case (Kind.ROLEMAPPING) {
        <fieldset class="script-type-filter role-filter">
          <legend id="role-mapping-role-filter-label" i18n="@@roleMappingRoleFilterLabel">Role</legend>
          <mat-chip-listbox formControlName="role" aria-labelledby="role-mapping-role-filter-label">
            @for (role of options.roles ?? []; track role) {
              <mat-chip-option [value]="role">{{Role[role]}}</mat-chip-option>
            }
          </mat-chip-listbox>
        </fieldset>
      }
  }

</form>
