<mat-chip-set class="shortcut-groups" aria-label="Configuration shortcuts"
  i18n-aria-label="@@configDetailShortcutsLabel">
  @if (showMainId && configObject.id) {
    <mat-chip class="main-id-chip" role="button" tabindex="0" [appCopyId]="configObject.id"
      matTooltip="Copy configuration ID" i18n-matTooltip="@@copyConfigIdTooltip"
      aria-label="Copy configuration ID" i18n-aria-label="@@copyConfigIdTooltip">
      <mat-icon matChipAvatar>content_copy</mat-icon>
      <span>{{configObject.id}}</span>
    </mat-chip>
  }
  @switch (configObject.kind) {
    @case (Kind.SEED) {
      @if (can('read', Kind[Kind.CRAWLENTITY]) || can('read', Kind[Kind.CRAWLJOB])) {
        @if (can('read', Kind[Kind.CRAWLENTITY])) {
          <a mat-chip [routerLink]="['/config', 'entity', configObject.seed.entityRef.id]">
            <mat-icon matChipAvatar>business</mat-icon>
            <span>{{showReferenceKindLabels
              ? referenceKindLabel(Kind.CRAWLENTITY)
              : (configObject.seed.entityRef.id | getEntityName | async)}}</span>
          </a>
        }
        @for (crawlJob of configObject.seed.jobRefList; track crawlJob.id) {
          @if (can('read', Kind[Kind.CRAWLJOB])) {
            <a mat-chip [routerLink]="['/config/crawljobs/' + crawlJob.id]"
              [ngClass]="{disabledJob: crawlJob.id | getCrawlJobDisabledStatus | async}">
              <mat-icon matChipAvatar>work</mat-icon>
              <span>{{showReferenceKindLabels
                ? referenceKindLabel(Kind.CRAWLJOB)
                : (crawlJob.id | getJobNamePipe | async)}}</span>
            </a>
          }
        }
      }
    }
    @case (Kind.CRAWLJOB) {
      @if ((configObject.crawlJob.scheduleRef.id && can('read', Kind[Kind.CRAWLSCHEDULECONFIG]))
        || (configObject.crawlJob.crawlConfigRef.id && can('read', Kind[Kind.CRAWLCONFIG]))
        || (configObject.crawlJob.scopeScriptRef.id && can('read', Kind[Kind.BROWSERSCRIPT]))) {
        @if (configObject.crawlJob.scheduleRef.id && can('read', Kind[Kind.CRAWLSCHEDULECONFIG])) {
          <a mat-chip [routerLink]="['/config/schedule/' + configObject.crawlJob.scheduleRef.id]">
            <mat-icon matChipAvatar>schedule</mat-icon>
            <span>{{showReferenceKindLabels
              ? referenceKindLabel(Kind.CRAWLSCHEDULECONFIG)
              : (configObject | getCrawlScheduleName | async)}}</span>
          </a>
        }
        @if (configObject.crawlJob.crawlConfigRef.id && can('read', Kind[Kind.CRAWLCONFIG])) {
          <a mat-chip [routerLink]="['/config/crawlconfig/' + configObject.crawlJob.crawlConfigRef.id]">
            <mat-icon matChipAvatar>settings_system_daydream</mat-icon>
            <span>{{showReferenceKindLabels
              ? referenceKindLabel(Kind.CRAWLCONFIG)
              : (configObject | getCrawlConfigName | async)}}</span>
          </a>
        }
        @if (configObject.crawlJob.scopeScriptRef.id && can('read', Kind[Kind.BROWSERSCRIPT])) {
          <a mat-chip [routerLink]="['/config/browserscript/' + configObject.crawlJob.scopeScriptRef.id]">
            <mat-icon matChipAvatar>web_asset</mat-icon>
            <span>{{showReferenceKindLabels
              ? referenceKindLabel(Kind.BROWSERSCRIPT)
              : (configObject.crawlJob.scopeScriptRef.id | getBrowserScriptName | async)}}</span>
          </a>
        }
      }
    }
    @case (Kind.CRAWLCONFIG) {
      @if ((configObject.crawlConfig.collectionRef.id && can('read', Kind[Kind.COLLECTION]))
        || (configObject.crawlConfig.browserConfigRef.id && can('read', Kind[Kind.BROWSERCONFIG]))
        || (configObject.crawlConfig.politenessRef.id && can('read', Kind[Kind.POLITENESSCONFIG]))) {
        @if (configObject.crawlConfig.collectionRef.id && can('read', Kind[Kind.COLLECTION])) {
          <a mat-chip [routerLink]="['/config/collection/' + configObject.crawlConfig.collectionRef.id]">
            <mat-icon matChipAvatar>collections_bookmark</mat-icon>
            <span>{{showReferenceKindLabels
              ? referenceKindLabel(Kind.COLLECTION)
              : (configObject | getCollectionName | async)}}</span>
          </a>
        }
        @if (configObject.crawlConfig.browserConfigRef.id && can('read', Kind[Kind.BROWSERCONFIG])) {
          <a mat-chip [routerLink]="['/config/browserconfig/' + configObject.crawlConfig.browserConfigRef.id]">
            <mat-icon matChipAvatar>web</mat-icon>
            <span>{{showReferenceKindLabels
              ? referenceKindLabel(Kind.BROWSERCONFIG)
              : (configObject | getBrowserConfigName | async)}}</span>
          </a>
        }
        @if (configObject.crawlConfig.politenessRef.id && can('read', Kind[Kind.POLITENESSCONFIG])) {
          <a mat-chip [routerLink]="['/config/politenessconfig/' + configObject.crawlConfig.politenessRef.id]">
            <mat-icon matChipAvatar>sentiment_very_satisfied</mat-icon>
            <span>{{showReferenceKindLabels
              ? referenceKindLabel(Kind.POLITENESSCONFIG)
              : (configObject | getPolitenessConfigName | async)}}</span>
          </a>
        }
      }
    }
    @case (Kind.BROWSERCONFIG) {
      @if (configObject.browserConfig.scriptRefList.length && can('read', Kind[Kind.BROWSERSCRIPT])) {
        @for (script of configObject.browserConfig.scriptRefList; track script.id) {
          <a mat-chip [routerLink]="['/config/browserscript/' + script.id]">
            <mat-icon matChipAvatar>web_asset</mat-icon>
            <span>{{showReferenceKindLabels
              ? referenceKindLabel(Kind.BROWSERSCRIPT)
              : (script.id | getBrowserScriptName | async)}}</span>
          </a>
        }
      }
    }
  }

  @switch (configObject.kind) {
    @case (Kind.CRAWLENTITY) {
      @if (can('read', Kind[Kind.SEED])) {
        <a mat-chip [routerLink]="['../../seed']" [queryParams]="{entity_id: configObject.id}">
          <mat-icon matChipAvatar>link</mat-icon>
          <span i18n="@@configDetailShowSeedsAction">Show seeds</span>
        </a>
      }
    }
    @case (Kind.SEED) {
      @if (can('read', 'reports') || can('read', Kind[Kind.SEED])) {
        @if (can('read', 'reports')) {
          <a mat-chip [routerLink]="['/report/crawlexecution']" [queryParams]="{seed_id: configObject.id}">
            <mat-icon matChipAvatar>hdr_weak</mat-icon>
            <span i18n="@@configDetailShowCrawlExecutionsAction">Show crawlexecutions</span>
          </a>
        }
        @if (configObject.seed.jobRefList.length && can('read', Kind[Kind.SEED])) {
          <a mat-chip [routerLink]="['../../seed']" [queryParams]="getJobRefListQueryParams(configObject)">
            <mat-icon matChipAvatar>work</mat-icon>
            <span i18n="@@configDetailFilterByCrawljobAction">Filter by crawljob</span>
          </a>
        }
        @if (can('read', Kind[Kind.SEED])) {
          <a mat-chip [routerLink]="['../../seed']"
            [queryParams]="{entity_id: configObject.seed.entityRef.id}">
            <mat-icon matChipAvatar>business</mat-icon>
            <span i18n="@@configDetailFilterByEntityAction">Filter by entity</span>
          </a>
        }
      }
    }
    @case (Kind.CRAWLJOB) {
      @if (can('read', 'reports') || can('read', Kind[Kind.SEED])) {
        @if (can('read', 'reports')) {
          <a mat-chip [routerLink]="['/report/jobexecution']" [queryParams]="{job_id: configObject.id}">
            <mat-icon matChipAvatar>hdr_strong</mat-icon>
            <span i18n="@@configDetailShowJobExecutionsAction">Show jobexecutions</span>
          </a>
        }
        @if (can('read', Kind[Kind.SEED])) {
          <a mat-chip [routerLink]="['../../seed']" [queryParams]="{crawl_job_id: configObject.id}">
            <mat-icon matChipAvatar>link</mat-icon>
            <span i18n="@@configDetailShowSeedsAction">Show seeds</span>
          </a>
        }
      }
    }
    @case (Kind.CRAWLSCHEDULECONFIG) {
      @if (can('read', Kind[Kind.CRAWLJOB])) {
        <a mat-chip [routerLink]="['../../crawljobs']" [queryParams]="{schedule_id: configObject.id}">
          <mat-icon matChipAvatar>work</mat-icon>
          <span i18n="@@configDetailShowCrawljobsForScheduleAction">Show crawljobs</span>
        </a>
      }
    }
    @case (Kind.CRAWLCONFIG) {
      @if (can('read', Kind[Kind.CRAWLJOB])) {
        <a mat-chip [routerLink]="['../../crawljobs']" [queryParams]="{crawl_config_id: configObject.id}">
          <mat-icon matChipAvatar>work</mat-icon>
          <span i18n="@@configDetailShowCrawljobsForCrawlConfigAction">Show crawljobs</span>
        </a>
      }
    }
    @case (Kind.COLLECTION) {
      @if (can('read', Kind[Kind.CRAWLCONFIG])) {
        <a mat-chip [routerLink]="['../../crawlconfig']" [queryParams]="{collection_id: configObject.id}">
          <mat-icon matChipAvatar>settings_system_daydream</mat-icon>
          <span i18n="@@configDetailShowCrawlConfigsForCollectionAction">Show crawlconfigs</span>
        </a>
      }
    }
    @case (Kind.BROWSERCONFIG) {
      @if (can('read', Kind[Kind.CRAWLCONFIG])) {
        <a mat-chip [routerLink]="['../../crawlconfig']" [queryParams]="{browser_config_id: configObject.id}">
          <mat-icon matChipAvatar>settings_system_daydream</mat-icon>
          <span i18n="@@configDetailShowCrawlConfigsForBrowserConfigAction">Show crawlconfigs</span>
        </a>
      }
    }
    @case (Kind.BROWSERSCRIPT) {
      @if (can('read', Kind[Kind.BROWSERCONFIG])) {
        <a mat-chip [routerLink]="['../../browserconfig']" [queryParams]="{script_id: configObject.id}">
          <mat-icon matChipAvatar>web</mat-icon>
          <span i18n="@@configDetailShowBrowserConfigsForScriptAction">Show browserconfigs</span>
        </a>
      }
    }
    @case (Kind.POLITENESSCONFIG) {
      @if (can('read', Kind[Kind.CRAWLCONFIG])) {
        <a mat-chip [routerLink]="['../../crawlconfig']" [queryParams]="{politeness_id: configObject.id}">
          <mat-icon matChipAvatar>settings_system_daydream</mat-icon>
          <span i18n="@@configDetailShowCrawlConfigsForPolitenessAction">Show crawlconfigs</span>
        </a>
      }
    }
  }
  @if (hasActions) {
    @if (showScriptEditorAction) {
      <mat-chip role="button" tabindex="0"
        (click)="onOpenScriptEditor()" (keydown)="onActionKeydown($event, 'openScriptEditor')">
        <mat-icon matChipAvatar>open_in_full</mat-icon>
        <span i18n="@@browserscriptOpenScriptFullscreenAction">Edit script</span>
      </mat-chip>
    }
    @if (configObject.kind === Kind.SEED && can('runCrawl', Kind[Kind.SEED])) {
      <mat-chip role="button" tabindex="0"
        (click)="onRunCrawl()" (keydown)="onActionKeydown($event, 'runCrawl')">
        <mat-icon matChipAvatar>play_arrow</mat-icon>
        <span i18n="@@configDetailRunSeedAction">Crawl seed</span>
      </mat-chip>
    }
    @if (configObject.kind === Kind.CRAWLJOB && can('runCrawl', Kind[Kind.CRAWLJOB])) {
      <mat-chip role="button" tabindex="0"
        (click)="onRunCrawl()" (keydown)="onActionKeydown($event, 'runCrawl')">
        <mat-icon matChipAvatar>play_arrow</mat-icon>
        <span i18n="@@configDetailRunCrawljobAction">Run crawljob</span>
      </mat-chip>
    }
    @if (can('create', Kind[configObject.kind])) {
      <mat-chip role="button" tabindex="0"
        (click)="onClone()" (keydown)="onActionKeydown($event, 'clone')">
        <mat-icon matChipAvatar>file_copy</mat-icon>
        <span i18n="@@configDetailCloneAction">Clone</span>
      </mat-chip>
    }
    @if (configObject.kind === Kind.CRAWLENTITY && can('create', Kind[Kind.SEED])) {
      <mat-chip role="button" tabindex="0"
        (click)="onCreateSeed()" (keydown)="onActionKeydown($event, 'createSeed')">
        <mat-icon matChipAvatar>add_circle</mat-icon>
        <span i18n="@@configDetailCreateSeedAction">Create Seed</span>
      </mat-chip>
    }
  }
</mat-chip-set>
