<form [formGroup]="form">
  <mat-form-field>
    <mat-label>
      {{this.placeholder}}
    </mat-label>
    <input matInput formControlName="fileSize">
  </mat-form-field>
  @if (fileSize.hasError('pattern')) {
    <mat-error i18n="@@fileSizeInputInvalidPatternError">
    Field doesn't contain a valid file size
  </mat-error>
  }
  @if (fileSize.hasError('invalidUnit')) {
    <mat-error i18n="@@fileSizeInputInvalidUnitError">
    {{fileSize.errors.invalidUnit.unit}} doesn't appear to be a valid unit
  </mat-error>
  }
  @if (fileSize.hasError('invalidSize')) {
    <mat-error i18n="@@fileSizeInputInvalidSizeError">
    Can't interpret {{fileSize.errors.invalidSize.size}}
  </mat-error>
  }
</form>

