@if (ability$ | async; as ability) {
  <mat-nav-list>
    @if (ability.can('read', Kind[Kind.CRAWLENTITY])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.CRAWLENTITY]]"
        [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>business</mat-icon>
        <span i18n="@@configurationSidebarMenuEntity">Entity</span>
      </a>
    }
    @if (ability.can('read', Kind[Kind.SEED])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.SEED]]" [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>link</mat-icon>
        <span i18n="@@configurationSidebarMenuSeed">Seed</span>
      </a>
    }
    @if (ability.can('read', Kind[Kind.CRAWLJOB])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.CRAWLJOB]]" [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>work</mat-icon>
        <span i18n="@@configurationSidebarMenuCrawljobs">Crawljobs</span>
      </a>
    }
    @if (ability.can('read', Kind[Kind.CRAWLSCHEDULECONFIG])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.CRAWLSCHEDULECONFIG]]"
        [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>schedule</mat-icon>
        <span i18n="@@configurationSidebarMenuSchedule">Schedule</span>
      </a>
    }
    @if (ability.can('read', Kind[Kind.CRAWLCONFIG])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.CRAWLCONFIG]]" [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>settings_system_daydream</mat-icon>
        <span i18n="@@configurationSidebarMenuCrawlconfig">CrawlConfig</span>
      </a>
    }
    @if (ability.can('read', Kind[Kind.COLLECTION])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.COLLECTION]]" [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>collections_bookmark</mat-icon>
        <span i18n="@@configurationSidebarMenuCollection">Collection</span>
      </a>
    }
    @if (ability.can('read', Kind[Kind.BROWSERCONFIG])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.BROWSERCONFIG]]" [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>web</mat-icon>
        <span i18n="@@configurationSidebarMenuBrowserconfig">BrowserConfig</span>
      </a>
    }
    @if (ability.can('read', Kind[Kind.BROWSERSCRIPT])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.BROWSERSCRIPT]]" [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>web_asset</mat-icon>
        <span i18n="@@configurationSidebarMenuBrowserscript">BrowserScript</span>
      </a>
    }
    @if (ability.can('read', Kind[Kind.POLITENESSCONFIG])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.POLITENESSCONFIG]]" [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>sentiment_very_satisfied</mat-icon>
        <span i18n="@@@@configurationSidebarMenuPolitenessconfig">Politeness</span>
      </a>
    }
    @if (ability.can('read', Kind[Kind.CRAWLHOSTGROUPCONFIG])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.CRAWLHOSTGROUPCONFIG]]"
        [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>group_work</mat-icon>
        <span i18n="@@configurationSidebarMenuCrawlhostgroupconfig">CrawlHostGroup</span>
      </a>
    }
    @if (ability.can('read', Kind[Kind.ROLEMAPPING])) {
      <a mat-list-item
        [routerLink]="['/config', ConfigPath[Kind.ROLEMAPPING]]"
        [routerLinkActive]="['is-active']">
        <mat-icon matListItemIcon>people</mat-icon>
        <span i18n="@@configurationSidebarMenuRolemapping">Users</span>
      </a>
    }
  </mat-nav-list>
}
