<div class="entity-detail-layout">
<form [formGroup]="form">
    <div class="config-details-content">
      <div class="entity-details-fields layout-column">
        <app-meta
          [kind]="configObject.kind"
          formControlName="meta"
          [annotationSuggestions]="annotationSuggestions">
        </app-meta>
        @if (!showSave) {
          <mat-form-field>
            <mat-label i18n="configIdLabel">
            Id
          </mat-label>
            <input matInput formControlName="id" readonly>
            <button mat-icon-button matSuffix type="button" [appCopyId]="configObject.id"
              matTooltip="Copy ID" i18n-matTooltip="@@copyIdTooltip"
              aria-label="Copy ID" i18n-aria-label="@@copyIdTooltip">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-form-field>
        }
      </div>
    </div>

    @if (canEdit) {
      <div class="config-form-actions">
        @if (showSave) {
          <button matButton="filled"
            [disabled]="!canSave"
            (click)="onSave()"
            i18n="@@commonButtonSave">SAVE
      </button>
        }
        @if (!showSave) {
          <button matButton="filled"
            [disabled]="!canUpdate"
            (click)="onUpdate()"
            i18n="@@commonButtonUpdate">UPDATE
      </button>
        }
        <button matButton
          (click)="onRevert()"
          [disabled]="!canRevert"
          i18n="@@commonButtonRevert">REVERT
      </button>
        <span class="flex-fill"></span>
      </div>
    }
</form>
</div>
