name: Protobuf Code Generation

on:
  push:
    branches:
      - 'main'
    paths:
      - 'proto/**'
  workflow_dispatch:
  
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Generate golang code from proto files
        shell: bash
        working-directory: api
        run: go generate
