name: Build and publish container image

on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
        description: "The path of the component to build"

jobs:
  scoped-build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Normalize component path
        run: |
          path='${{ inputs.path }}'
          path="${path//\//-}"
          echo "NORMALIZED_PATH=$path" >> "$GITHUB_ENV"

      - name: Extract scoped tag
        if: startsWith(github.ref, format('refs/tags/{0}-', env.NORMALIZED_PATH))
        run: |
          TAG=${GITHUB_REF#refs/tags/${{ env.NORMALIZED_PATH }}-}
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/${{ env.NORMALIZED_PATH }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,value=${{ env.TAG }},pattern={{version}}  
            type=raw,value=${{ env.TAG }},enable=${{ !startsWith(env.TAG, 'v') }}

      - name: Build and push container image
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ${{ inputs.path }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ steps.meta.outputs.version }}
