name: Build and release

on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
        description: "The path to the component to build"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Extract scoped tag
        if: startsWith(github.ref, format('refs/tags/{0}/', inputs.path))
        run: |
          TAG=${GITHUB_REF#refs/tags/${{ inputs.path }}-}
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/${{ inputs.path }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,value=${{ env.TAG }},pattern={{version}}  
            type=raw,value=${{ env.TAG }},enable=${{ !startsWith(env.TAG, 'v') }}

      - uses: goreleaser/goreleaser-action@v6
        with:
          workdir: ${{ inputs.path }}
          distribution: goreleaser
          version: latest
          args: release --clean ${{ ((env.TAG == '') || (github.ref_type == 'branch' && github.ref_name == 'main')) && '--snapshot' || '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GORELEASER_CURRENT_TAG: ${{ steps.meta.outputs.version }}
