name: Frontier Queue Workers Release

on:
  push:
    tags:
      - 'frontier-queue-workers-v[0-9]+.[0-9]+.[0-9]+*'
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build-and-publish.yaml
    with:
      path: frontier-queue-workers
