name: Java CI

on:
  workflow_call:
    inputs:
      subproject:
        required: true
        type: string
        description: "Name of gradle subproject to test"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Run tests
        run: |
          ./gradlew :${{ inputs.subproject }}:test
