name: Olricd

on:
  push:
    branches:
      - 'main'
    tags:
      - 'olricd-*'
    paths:
      - 'olricd/**'
  pull_request:
    paths:
      - 'olricd/**'
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build-and-publish.yaml
    with:
      path: olricd
