name: OOS Handler CI

on:
  push:
    branches:
      - 'main'
    paths:
      - 'ooshandler/**'
  pull_request:
    paths:
      - 'ooshandler/**'
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build-and-publish.yaml
    with:
      path: ooshandler
