name: Robots Evaluator Release

on:
  push:
    tags:
      - 'robots-evaluator-v[0-9]+.[0-9]+.[0-9]+*'
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build-and-publish.yaml
    with:
      path: robots-evaluator
