<mat-nav-list>
    <div mat-subheader i18n="@@actionShortcutListTitle">
    Actions
  </div>
    @switch (configObject.kind) {
      @case (Kind.CRAWLENTITY) {
        @if (can('create', Kind[Kind.SEED])) {
          <button mat-list-item
            (click)="onCreateSeed()"
            matTooltip="Create a new seed with reference to the entity"
            i18n-matTooltip="@@crawlEntityListCreateSeedActionButtonTooltip">
            <mat-icon matListItemIcon>add_circle</mat-icon>
            Create Seed
          </button>
        }
      }
      @case (Kind.SEED) {
        @if (can('runCrawl', Kind[Kind.SEED])) {
          <button mat-list-item
            (click)="onRunCrawl()">
            <mat-icon matListItemIcon>play_arrow</mat-icon>
            Crawl seed
          </button>
        }
      }
      @case (Kind.CRAWLJOB) {
        @if (can('runCrawl', Kind[Kind.CRAWLJOB])) {
          <button mat-list-item
            (click)="onRunCrawl()">
            <mat-icon matListItemIcon>play_arrow</mat-icon>
            Run crawljob
          </button>
        }
      }
    }
    @if (can('create', Kind[this.configObject.kind])) {
      <button mat-list-item
        (click)="onClone()">
        <mat-icon matListItemIcon>file_copy</mat-icon>
        Clone
      </button>
    }
</mat-nav-list>
